<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body>
    <%- include('./header'); %>
    <main>
      <section id="resources-container">
        <h3>List of Resources</h3>
        <a href="/resources/new_resource"><button class="addButton" type="submit">+</button></a>
      </section>
    </main>
  </body>
</html>
