<!DOCTYPE html>
<html lang="en">
  <html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body>
    <%- include('./header'); %>

    <main>
      <section id="new-resource">
      <h3>Add New Resource</h3>
      <form class="form-inline" action="/resources/new_resource" method="POST">
        <div>
          <label for="url">URL :</label>
          <input class="form-control" type="url" name="url" style="width: 300px; margin: 1em">
          <label for="title">Title :</label>
          <input class="form-control" type="title" name="title" style="width: 300px; margin: 1em">
          <label for="description">Description :</label>
          <input class="form-control" type="description" name="description" style="width: 300px; margin: 1em">
          <label for="imageurl">Image URL :</label>
          <input class="form-control" type="imageurl" name="imageurl" style="width: 300px; margin: 1em">
          <label for="category">Category :</label>
          <select name="category">
          <option value="1">Programming</option>
          <option value="2">Language</option>
          <option value="3">Science</option>
          <option value="4" selected>Data Science</option>
          <option value="5">Art</option>
          <option value="6">Health</option>
          <option value="7">Medical</option>
          <option value="8">News</option>

          </select>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </section>
    </main>
      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
