<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./head'); %>
   </head>
   <body>
     <h1>Hello</h1>

      <main>
        <form action="/resources" method="POST">
          <input type="submit">
          <input type="textarea">
        </form>

      </main>

   </body>
</html>
