<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./head'); %>


  <!--CDN for AJAX and JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!--External JS-->

    <script type="text/javascript" src="/scripts/like-button.js"></script>

  </head>
   <body>
     <h1>My Resources Page</h1>

      <main>

        <form action="/resources/comment" method="POST">

          <input type="textarea" name="text">
          <input type="submit">

        </form>

        <button id="like-button">
          Like
          <output id="like-counter" class="counter-num">
            0
          </output>
        </button>


    <div>
        <input type="radio" name="rate" value="1">
        <input type="radio" name="rate" value="2">
        <input type="radio" name="rate" value="3">
        <input type="radio" name="rate" value="4">
        <input type="radio" name="rate" value="5">
    </div>



      </main>

   </body>
</html>
