.auth-page {
  display: flex;
  width: 30%;
}

#login-form {
  margin-top: 50px;
}

#auth-form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#sign-up-form {
  margin-top: 50px;
}

#sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#update-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
