#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

#Pinterest-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 6px;
  width: 15%;
}

#search {
  display: flex;
  flex-direction: row;
  margin: 6px;
  width: 50%;
}

#search-box {
  width: 65%;
}

#button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
